**/.pytest_cache
**/__pycache__
**/test.ipynb
**/test.py
*.egg-info/
ckpt/
data/*
scripts/pretrain.sh
scripts/text_retrieval.sh
scripts/edit_1st_step.sh
scripts/edit_2nd_step.sh
data_exploration.ipynb
data_exploration.py
Dockerfile
conda_env.md
env_build.sh
main_train.py
space_projector_train.py
text_retrieval.py
extra_set_gen.py